body{
    padding: 0;
    margin: 0;
}

 .form{
     width: 60%;
     background-color: aliceblue;
     margin: 4px auto;
     text-align: center;
     padding: 50px;
     border-radius: 8px;
 }

 .inp{
     outline: none;
     background-color: cornflowerblue;
     border: none;
     width: 50%;
     font-size: 13px;
     padding: 10px;
     margin: 7px 0;
 }
 
 .lbl{
     color: cornflowerblue;
     text-align: center;
 }
 .btl{
     width: 30%;
     padding: 10px 0;
     margin-top: 7px;
     background-color: gray;
     border-radius: 10px;
     color: white;
     font-size: 15px;
 }